   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatibile" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="author" content="Darek Repos">
  <meta name="keywords" content="FAQ accordion frontend practice">
  <meta name="description" content="This is website for the frontend practice">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ '/FAQ-accordion/static/css/main.css' | url }}" media="screen" />
    <link rel="shortcut icon" href= "{{ '/FAQ-accordion/assets/images/favicon-32x32.ico' | url }}">