---
layout: layouts/base.njk
title: "Eleventy FAQ"
---

<div class="index__container">
    <h1 class="index__title">{{title}}</h1>
    <p class="index__text">Check my FAQ page</p>
    <a class="index__link" href="{{ '/faq' | htmlBaseUrl }}">Go To The FAQ</a>
</div>